
 .liste-container {
  background-image: url("../assets/notizbuch.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;     /* Desktop */
  min-height: 100vh;
  padding: 20px;
}

@media (max-width: 768px) {
  .liste-container {
    background-size: contain;  /* Handy */
  }
}


.kopfbereich {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {

  list-style: none;
  padding: 0;
  margin-left: 5rem;      /* ca. 2 cm nach rechts */
  padding-top: 3.8rem;   /* ca. 1 cm nach unten */
}


li {
  display: flex;
  justify-content: space-between;
  padding: 8px; 
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

li.erledigt span {
  text-decoration: line-through;
  text-decoration-color: red; /* <-- Nur der Strich wird rot */
  opacity: 0.6;
}

.eingabe-bereich {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}
