
.liste-container {
  padding: 20px;
}

.hintergrund-notizbuch {
  background-image: url('../assets/notizbuch.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  color: #333;
}

.wechsel-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wechsel-buttons button {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
}

.wechsel-buttons button:hover {
  background-color: #ddd;
}
