
.liste-container {
  padding: 20px;
}

.hintergrund-notizbuch {
  background-image: url("/notizbuch.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  color: #333;
}

input {
  margin-right: 8px;
  padding: 5px;
}
