
.liste-container {
  background-image: url("/notizbuch.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.eingabe-bereich input {
  padding: 10px;
  margin-right: 5px;
}

.eingabe-bereich button {
  margin: 0 5px;
}
