.liste-container {
 background-image: url('../assets/notizbuch.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  font-family: "Comic Sans MS", cursive;
}

.kopfbereich {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.kopfbereich button {
  padding: 5px 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.eingabe-bereich {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.eingabe-bereich input {
  flex: 1;
  padding: 8px;
}

.eingabe-bereich button {
  padding: 8px;
}
